body {
  background: blanchedalmond;
  
  
}


.container {
  border: 1px solid black;
  height: 500px;
  width: 700px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  
  
}
.a, .b, .c {
  border: chartreuse 1px solid;
  

}

.a {
  flex-basis: 100%;
  min-height: 30%;
  margin: 1em;

}
.b {

  flex-basis: 75%;
  min-height: 60%;
  margin-bottom: 1em;
}

.c {

  flex-basis: 15%;
  min-height: 60%;
  margin-bottom: 1em;
}

@medi